*{
    margin: 0;
    padding: 0;
    --webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
}

body{
    background-color: #2D3142;
    color: #FFFFFF;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    margin: auto;
    background-color: white;
}

.nav-bar{
    width: 50%;
    min-height: 70px;
    margin: auto;
    display: inline-flex;
    float: right;
    background-color: #BFC0C0;
}

.nav-bar li{
    list-style: none;
    width: 100%;
    min-height: 70px;
}

.nav-bar a{
    width: 100%;
    min-height: 70px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #2D3142;
}

.nav-bar a:hover{
    background-color: #EF8354;
}

main {
    padding: 100px 0 0 0;
}
