main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-main {
    display: grid;
    width: 90%;
    grid-template: repeat(3, 1fr) / 2fr 1.5fr 2fr;
    column-gap: 5px;
    justify-content: center;
}


/* Main Grid */

#main-info {
    grid-area: 1 / 2 / 4 / 3;
    margin-top: 30px;
    justify-items: center;

}

#work-history {
    grid-area: 1 / 1 / span 3 / 2;
    margin-top: 100px;
}

#skillset {
    grid-area: 1 / 3 / span 3 / 4;
    margin-top: 100px;
}

/* Scroll Bars for Scroll Boxes */

.scroll-box {
    height: 300px;
    padding: 0px 10px;
    overflow-y: scroll;
}

.scroll-box::-webkit-scrollbar {
    width: 5px;
}

.scroll-box::-webkit-scrollbar-track {
    background: #BFC0C0;
    border: 2px solid #2D3142;
    border-radius: 15px;
    margin: 0 auto;
    width: 2px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #EF8354;
    border-radius: 15px;
}

    /* Shifts Scroll Bar for Skillset to the Left */

    #skills-list {
        direction: rtl;
        overflow-x: hidden;
    }

    #skills-list li {
        direction: ltr;
        margin: 0 0;
    }

    /* Adds Hover Effect to Scroll Bars */

    .scroll-box:hover::-webkit-scrollbar {
        width: 8px;
    }

    .scroll-box:hover::-webkit-scrollbar-track {
        border: 3.5px solid #2D3142;
        width: 8px;
    }



/* Work History Bullet Points */

.job .hidden-content {
    display: none;
}

#work-history h4, #skillset h4 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

#work-history h5 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.job-title-div {
    height: 2px;
    border-bottom: 2px solid #4F5D75;
    margin: 3px auto 4px auto;;
    width: 50%;
}

#work-history h6 {
    text-align: center;
    margin-bottom: 3px;
}

#work-history .restaurant {
    font-weight: bold;
    font-size: 15px;
    }

#work-history .date {
    font-style: italic;
    font-size: 12px;}

.divider {
    display: block;
    margin: 5px auto;
    text-align: center;
}



    /* Grid Rules for Jobs */

    .job {
        display: grid;
        grid-template: 1fr / 1fr;
    }

    /* Adds Hover Effect to Jobs */

    .job:hover {
        color: #EF8354;
        cursor: pointer;
    }

/* Skillset List */

#skills-list {
    list-style-type: none;
    font-size: 16px;
    text-align: center;
}

#skills-list li {
    margin-bottom: 10px;
}

    /* Adds Hover Effect to Skills */

    #skills-list li:hover {
        color: #EF8354;
        cursor: default;
    }

/* Image Styling */

#profile-frame {
    max-width: 220px;
    max-height: 220px;
    background-color: #4F5D75;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
img {
    width: 600px;
    height: 600px;
    margin-top: 130px;
}

/* Button Styling */

#cv-button a {
    text-decoration: none;
}

#cv-button button {
    display: block;
    margin: 20px auto;
    padding: 1.5% 4.5%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(45, 49, 66, 0.4), 0 3px 10px rgba(45, 49, 66, 0.38);
    color: #4F5D75;
}

#cv-button button:hover {
    cursor: pointer;
    
}

/* Bio Text Styling */

#bio {
    text-align: center;
    margin-top: 20px;
    line-height: 1.2;
}