#main-container {
    display: grid;
    position: relative;
    grid-template: repeat(4, minmax(0, 1fr)) / repeat (6, 1fr);
    gap: 5px;
    padding: 5px;
    margin: 90px auto 20px auto;
    width: 80%;
    height: 500px;
    border: 2px solid #4F5D75;
    border-radius: 15px;
    overflow: hidden;
}

.project-box {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    text-align: center;
}

/* --- Project Boxes --- */

/* Inside All Boxes */

.project-hover-box {
    background-color: #2D314280;
    width: 100%;
    z-index: 2;
    height: auto;
    justify-content: center;
    padding: 10px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project-box h2 {
    width: 100%;
    position: relative;
    padding: 10px 0;
    margin: 20px auto;
    color: #FFFFFF;
    z-index: 2;
    transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
    font-size: 0.9rem;
}

.hidden-project-info {
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transition: transform 0.4s ease-in-out, opacity 0.4s;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    padding: 20px 5px;
    position: absolute;
    z-index: 2;
    width: 100%;
    font-size: 8px;
}

.project-about {
    padding: 5px 10px;
    color: #FFFFFF;
    font-size: 0.5rem;
}

.button-box {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    z-index: 1;
    font-size: 0.85rem;
}

.see-project-button, .see-code-button {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: #4F5D7590;
    color: #FFFFFFCC;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

        /* Hover Effects Inside All Boxes */

        .project-box:hover .hidden-project-info {
            visibility: visible;
            position: relative;
            opacity: 1;
            transform: scaleY(1);
            
        }

        .project-box:hover h2 {
            display: none;
            opacity: 0;
            height: 0;
        }



/*Box 1*/
    #box-one {
        grid-area: 1 / 1 / span 2 / span 2;
        background-color: white;
        
    }

/*Box 2*/
    #box-two {
        grid-area: 1 / 3 / span 1 / span 1;
        background-color: orange;
    }

/*Box 3*/
    #box-three {
        grid-area: 1 / 4 / span 1 / span 1;
        background-color: yellow;
    }

/*Box 4*/
    #box-four {
        grid-area: 1 / 5 / span 1 / span 2;
        background-color: green;
    }

/*Box 5*/
    #box-five {
        grid-area: 2 / 3 / span 1 / span 2;
        background-color: blue;
    }

/*Box 6*/
    #box-six {
        grid-area: 2 / 5 / span 1 / span 1;
        background-color: indigo;
    }

/*Box 7*/
    #box-seven {
        grid-area: 2 / 6 / span 2 / span 1;
        background-color: violet;
    }

/*Box 8*/
    #box-eight {
        grid-area: 3 / 1 / span 1 / span 2;
        background-color: pink;
    }

/*Box 9*/
    #box-nine {
        grid-area: 3 / 3 / span 2 / span 2;
        background-color: brown;
    }

/*Box 10*/
    #box-ten {
        grid-area: 4 / 1 / span 1 / span 2;
        background-color: gray;
    }

/*Box 11*/
    #box-eleven {
        grid-area: 3 / 5 / span 2 / span 1;
        background-color: black;
    }

/*Box 12*/
    #box-twelve {
        grid-area: 4 / 6 / span 1 / span 1;
        background-color: white;
    }


/* --- Hover Effect for Project Boxes --- */


.project-box:hover {
    transform: scale(1.5) translate(10%);
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.19);
}

#main-container:has(.project-box:hover) .project-box:not(:hover) {
    opacity: 0.3;
    transform: scale(0.95);
}



