#main-container {
    display: grid;
    position: relative;
    grid-template: repeat (4, 1fr) / repeat (6, 1fr);
    gap: 5px;
    padding: 5px;
    margin: 90px auto 20px auto;
    width: 80%;
    height: 500px;
    border: 2px solid #4F5D75;
    border-radius: 15px;
    overflow: hidden;
}

.project-box {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out 0.3s;
}

/* --- Project Boxes --- */

/*Box 1*/
    #box-one {
        grid-area: 1 / 1 / span 2 / span 2;
        background-color: red;
        
    }

/*Box 2*/
    #box-two {
        grid-area: 1 / 3 / span 1 / span 1;
        background-color: orange;
    }

/*Box 3*/
    #box-three {
        grid-area: 1 / 4 / span 1 / span 1;
        background-color: yellow;
    }

/*Box 4*/
    #box-four {
        grid-area: 1 / 5 / span 1 / span 2;
        background-color: green;
    }

/*Box 5*/
    #box-five {
        grid-area: 2 / 3 / span 1 / span 2;
        background-color: blue;
    }

/*Box 6*/
    #box-six {
        grid-area: 2 / 5 / span 1 / span 1;
        background-color: indigo;
    }

/*Box 7*/
    #box-seven {
        grid-area: 2 / 6 / span 2 / span 1;
        background-color: violet;
    }

/*Box 8*/
    #box-eight {
        grid-area: 3 / 1 / span 1 / span 2;
        background-color: pink;
    }

/*Box 9*/
    #box-nine {
        grid-area: 3 / 3 / span 2 / span 2;
        background-color: brown;
    }

/*Box 10*/
    #box-ten {
        grid-area: 4 / 1 / span 1 / span 2;
        background-color: gray;
    }

/*Box 11*/
    #box-eleven {
        grid-area: 3 / 5 / span 2 / span 1;
        background-color: black;
    }

/*Box 12*/
    #box-twelve {
        grid-area: 4 / 6 / span 1 / span 1;
        background-color: white;
    }


/* --- Hover Effect for Project Boxes --- */


.project-box:hover {
    transform: scale(150%);
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.19);
}

#main-container:has(.project-box:hover) .project-box:not(:hover) {
    opacity: 0.3;
    transform: scale(80%);
}

/* Tests Hover Expansion of Each Box 
#box-one:hover {
    grid-area: 1 / 1 / span 3 / span 3;
}

#box-two:hover {
    grid-area: 1 / 3 / span 3 / span 3;
}

#box-three:hover {
    grid-area: 1 / 4 / span 3 / span 3;
}

#box-four:hover {
    grid-area: 1 / 4 / span 3 / span 3;
}

#box-five:hover {
    grid-area: 2 / 3 / span 3 / span 3;
}

#box-six:hover {
    grid-area: 2 / 5 / span 3 / span 3;
}

#box-seven:hover {
    grid-area: 2 / 6 / span 3 / span 3;
}

#box-eight:hover {
    grid-area: 3 / 1 / span 3 / span 3;
}

#box-nine:hover {
    grid-area: 3 / 3 / span 3 / span 3;
}

#box-ten:hover {
    grid-area: 4 / 1 / span 3 / span 3;
}

#box-eleven:hover {
    grid-area: 3 / 5 / span 3 / span 3;
}

#box-twelve:hover {
    grid-area: 4 / 6 / span 3 / span 3;
}
*/